
               <div class="sidebar-nav pull-right" id="sidebar">
                <div>
                    <ul class="nav">
                        <li></li>
                            <li class="active" routerLink="/dashBoard">
                             <div class="btn-group width100">
                             <button class="Mybtn width100 CurrentButn"><i class="fa fa-angle-left pull-left" aria-hidden="true"></i><span>Back To Previous</span></button>
                             </div>
                            </li>
                            <li><h5>AS AT DATE</h5>
                                <div class="btn-group width100">
                                    <button class="Mybtn width100 CurrentButn"><i class="fa fa-angle-left pull-left" aria-hidden="true"></i><span>    Current-March   </span>  <i class="fa fa-angle-right pull-right" aria-hidden="true"></i></button>
                                </div>
                            </li>
                         <li>
                             <h5>REPORT TYPE</h5>
                                <accordion [showArrows]="true">
                                <accordion-group heading="Reported">
                                    <ul class="subMenu">
                                        <li><a href="#">PickList</a></li>
                                        <li><a href="#">Tree</a></li>
                                        <li><a href="#">Paginator</a></li>
                                        <li><a href="#">DataTable</a></li>
                                    </ul>
                                </accordion-group>
                                </accordion> 
                         </li>
                          <li>
                              <h5>SEARCH</h5>
                                <accordion [showArrows]="true">
                                <accordion-group heading="Metric Search">
                                    <ul class="subMenu">
                                        <li><a href="#">PickList</a></li>
                                        <li><a href="#">Tree</a></li>
                                        <li><a href="#">Paginator</a></li>
                                        <li><a href="#">DataTable</a></li>
                                    </ul>
                                    
                                </accordion-group>
                                </accordion> 
                                <accordion [showArrows]="true">
                                <accordion-group heading="Product Search">
                                <ul class="subMenu">
                                        <li><a href="#">PickList</a></li>
                                        <li><a href="#">Tree</a></li>
                                        <li><a href="#">Paginator</a></li>
                                        <li><a href="#">DataTable</a></li>
                                    </ul>
                                </accordion-group>
                                </accordion> 
                        </li>
                        <li>
                            <h5>Time Period</h5>
                                <div class="btn-group width100">
                                    <button class="Mybtn active width20">M</button>
                                    <button class="Mybtn width20">Q</button>
                                    <button class="Mybtn width20">HY</button>
                                    <button class="Mybtn width20">FY</button>
                                    <button class="Mybtn width20">YTD</button>
                                </div>
                        </li>
                        <li>
                            <h5>COMPARISON</h5>
                                <div class="btn-group width100">
                                    <button class="Mybtn width50 ">Budget</button>
                                    <button class="Mybtn  width50 active">Forecast</button>
                                    <button class="Mybtn  width25">YoY</button>
                                    <button class="Mybtn  width75">Prior Period</button>
                                    <button class="Mybtn width50 active">RespectiveFX</button>
                                    <button class="Mybtn width50 ">Constant FX</button>
                                </div>
                        </li>
                        
                        <li>
                            <h5>FILTER</h5>
                                <accordion [showArrows]="true">
                                <accordion-group heading="Geography">
                                    <ul class="subMenu">
                                        <li><a href="#">PickList</a></li>
                                        <li><a href="#">Tree</a></li>
                                        <li><a href="#">Paginator</a></li>
                                        <li><a href="#">DataTable</a></li>
                                    </ul>
                                    
                                </accordion-group>
                                </accordion> 
                                <accordion [showArrows]="true">
                                <accordion-group heading="Segment">
                                <ul class="subMenu">
                                        <li><a href="#">PickList</a></li>
                                        <li><a href="#">Tree</a></li>
                                        <li><a href="#">Paginator</a></li>
                                        <li><a href="#">DataTable</a></li>
                                    </ul>
                                </accordion-group>
                                </accordion> 
                            <accordion [showArrows]="true">
                            <accordion-group heading="Product">
                            <ul class="subMenu">
                                    <li><a href="#">PickList</a></li>
                                    <li><a href="#">Tree</a></li>
                                    <li><a href="#">Paginator</a></li>
                                    <li><a href="#">DataTable</a></li>
                                </ul>
                            </accordion-group>
                            </accordion> 
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                       <li>
                           <h5>QUICK LINKS</h5>
                                <accordion [showArrows]="true">
                                <accordion-group heading="ScoreCard">
                                <ul class="subMenu">
                                        <li><a href="#">PickList</a></li>
                                        <li><a href="#">Tree</a></li>
                                        <li><a href="#">Paginator</a></li>
                                        <li><a href="#">DataTable</a></li>
                                    </ul>
                                </accordion-group>
                                </accordion>
                        
                                <accordion [showArrows]="true">
                                <accordion-group heading="External Markets">
                                <ul class="subMenu">
                                        <li><a href="#">PickList</a></li>
                                        <li><a href="#">Tree</a></li>
                                        <li><a href="#">Paginator</a></li>
                                        <li><a href="#">DataTable</a></li>
                                    </ul>
                                </accordion-group>
                                </accordion>
                         
                        </li>
                            <li><span><i class="fa fa-table" aria-hidden="true"></i> Report Generator
                            </span> 
                            </li>
                            <li><span><i  class="fa fa-print" aria-hidden="true"></i> Print</span>
                            </li>
                       
                    </ul>
                </div>
                <!--/.well -->
            </div>
