<!DOCTYPE html>
<html lang="">
<head>

    <title><%= webpackConfig.metadata.title%></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="<%= webpackConfig.metadata.title %>">
    <base href="<%= webpackConfig.metadata.baseUrl %>">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.31.2/handsontable.full.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.31.2/handsontable.full.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.11/css/highcharts.css"></script>-->
</head>
<body>

    <header class="clearfix">
        <div class="pull-left">
            <button class="menuIcon"><i class="fa fa-bars"></i></button>
            <a href="#"><i class="fa fa-home"></i></a>
            <span>Finanace MI v1.0</span>
        </div>
        
        <div class="pull-right">
            <ul class="rightMenu pull-right">
                <li><a href="#"><i class="fa fa-upload"></i></a></li>
                <li><a href="#"><i class="fa fa-bar-chart"></i></a></li>
                <li><a href="#"><i class="fa fa-pencil"></i></a></li>
                <li><a href="#"><i class="fa fa-bell"></i></a></li>
            </ul>
        </div>
    </header>
    
    <!--<div class="container-fluid">
        <div class="LeftWrap clearfix">-->
            <my-app></my-app>
        <!--</div>-->
<!--        
        <div class="RightWrap clearfix">
            <div class="sidebar-nav pull-right" id="sidebar">
                <div class="well">
                    <ul class="nav ">
                        <li class="nav-header">Sidebar</li>
                        <li class="active"><a href="#">Link</a>
                        </li>
                        <li><a href="#">Link</a>
                        </li>
                        <li><a href="#">Link</a>
                        </li>
                        <li><a href="#">Link</a>
                        </li>
                        <li class="nav-header">Sidebar</li>
                        <li><a href="#">Link</a>
                        </li>
                        <li><a href="#">Link</a>
                        </li>
                        <li><a href="#">Link</a>
                        </li>
                        <li><a href="#">Link</a>
                        </li>
                        <li><a href="#">Link</a>
                        </li>
                        <li><a href="#">Link</a>
                        </li>
                        <li class="nav-header">Sidebar</li>
                        <li><a href="#">Link</a>
                        </li>
                        <li><a href="#">Link</a>
                        </li>
                        <li><a href="#">Link</a>
                        </li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/sidebar-nav-fixed -->
        </div>
    </div>

<% if (webpackConfig.metadata.ENV === 'development') { %>
<!-- Webpack Dev Server reload -->
<script src="http://<%= webpackConfig.metadata.host %>:<%= webpackConfig.metadata.port %>/webpack-dev-server.js"></script>
<% } %>

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%=htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>

<script>
    main.run('Passing server parameters to ngModule with Angular 2 and webpack');
</script>


</body>

</html>
